---
tags: "page"
pagination:
  data: contentful
  size: 1
  alias: page
layout: layouts/base.liquid
eleventyComputed:
  title: "{{ page.title}}"
---

<section class ={{page.slug}} id="Content">
  <div class="wrapper">
     <h2 class ="heading">{{page.contentHeading}}</h2>
     <p class="content-para">{{page.contentSection}}</p>
     <p class="content-para">{{page.contentPara}}</p>
     <p class="content-para">{{page.contentAnotherPara}}</p>
  </div>
</section>

<section class="left-feature" id="left-feature">
  <div class="wrapper">
      <figure>
      <img src={{page.mediaForLeft.fields.file.url}} alt= {{page.mediaForLeft.fields.title}}>
      </figure>
      <p class="content-para">{{page.leftFeature}}</p>
  </div>
</section>

<section class="right-feature" id="right-feature">
  <div class="wrapper">
      <figure>
      <img src={{page.mediaForRight.fields.file.url}} alt= {{page.mediaForRight.fields.title}}>
      </figure>
      <p class="content-para">{{page.rightFeature}}</p>
   </div>
</section>
<section class="card" id="card">
  <div class="wrapper">
    <ul class = "card-list">
    <li class = "card-item">
     <figure>
      <img src={{page.cardMedia.fields.file.url}} alt= {{page.cardMedia.fields.title}}>
      </figure>
      <p class="content-para">{{page.rightFeature}}</p>
       </li>
        <li class = "card-item">
     <figure>
      <img src={{page.cardMedia.fields.file.url}} alt= {{page.cardMedia.fields.title}}>
      </figure>
      <p class="content-para">{{page.rightFeature}}</p>
       </li>
        <li class = "card-item">
     <figure>
      <img src={{page.cardMedia.fields.file.url}} alt= {{page.cardMedia.fields.title}}>
      </figure>
      <p class="content-para">{{page.rightFeature}}</p>
       </li>
        <li class = "card-item">
     <figure>
      <img src={{page.cardMedia.fields.file.url}} alt= {{page.cardMedia.fields.title}}>
      </figure>
      <p class="content-para">{{page.rightFeature}}</p>
       </li>
    </ul>
  </div>
</section>